<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Restaurant Charlie's Café | Saint-Maximin-la-Sainte-Baume">
    <meta name="author" content="A.K. | Design: JRM DIGITAL">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon-32x32.ico">

    <title>Charlie's Café | Restaurant | Saint-Maximin-la-Sainte-Baume</title>


    <!-- compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="ext/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="ext/jquery-3.2.1.min.js"></script>

    <!-- Popper JS -->
    <script src="ext/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="ext/bootstrap.min.js"></script>

    <!-- Vue JS -->
    <script src="ext/vue.min.js"></script>

    <!-- Axios JS -->
    <script src="ext/axios.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-expand-md fixed-top">
        <img id="header_logo" src="img/logo_charliescafe_v2.png" alt="Logo Charlie's Café Restaurant"/>
        <a class="navbar-brand" href="#">Charlie's Café</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#menu">Menu du jour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">A propos de nous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#staff">Notre équipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#gallery">Nos photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Nous contacter</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container-fluid">
            <div class="header-content-inner">
                <h1>Bienvenue chez Charlie's Café !</h1><br/>
                <h3 class="d-none d-md-block">Nous sommes fiers de vous proposer une cuisine traditionnelle, confectionnée avec des produits locaux dans une ambiance chaleureuse et conviviale.</h3>
            </div>
        </div>
    </div>

    <section class="bg-menu bg-section" id="menu">
        <div class="container-fluid">
            <h3 class="h3-titles">Menu du jour</h3>
            <hr class="hr-h3s">
            <!-- <h1 class="container-h1">MENU DU JOUR</h1> -->
            <div class="row justify-content-center">
                <div id="app">
                    <section id="specialssection" class="specials-container" v-if="menuItems_L" :style="menuStyle">
                        <div id="special_component" :style="menuStyle">
                            <div class="specials-table-container">
                                <table>
                                    <tbody v-for="item in menuItems_L" :key="`specialmenu-${item.name}`">
                                        <tr class="nameandprice">
                                            <td :style="dotStyle">
                                                <span :style="titleStyle">{{item.name}}</span>
                                            </td>
                                            <td :style="dotStyle">
                                                <span :style="titleStyle">{{item.price}}€</span>
                                            </td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="2">{{item.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <tbody v-for="item in menuItems_R" :key="`specialmenu-${item.name}`">
                                        <tr class="nameandprice">
                                            <td :style="dotStyle">
                                                <span :style="titleStyle">{{item.name}}</span>
                                            </td>
                                            <td :style="dotStyle">
                                                <span :style="titleStyle">{{item.price}}€</span>
                                            </td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="2">{{item.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-about bg-section" id="about">
        <div class="container-fluid">
            <h3 class="h3-titles">A propos de nous</h3>
            <hr class="hr-h3s">
            <div class="row">
                <div class="col-sm-5">

                    <div class="hov-img">
                        <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951746/new/warm_welcome.jpg"
                            alt="Paulo avec son équipe devant le restaurant Charlie's Café." class="hov-img-bottom img-fluid">
                        <div class="hov-img-top hov-img-slideup">
                            <div class="hov-img-text">
                                <h5>Venez rencontrer Paulo</h5>
                                <p>Un accueil chaleureux en plein centre ville de Saint-Maximin-la-Sainte-Baume à deux pas de la Basilique Sainte-Marie-Madeleine.</p>
                            </div>
                        </div>
                    </div>

                    <div class="hov-img">
                        <img src="img/cuisine_authentique.jpg"
                            alt="Lasagne et sa salade, cuisine authentique de qualité." class="hov-img-bottom img-fluid">
                        <div class="hov-img-top hov-img-slideup">
                            <div class="hov-img-text">
                                <h5>Une cuisine authentique</h5>
                                <p> Venez découvrir une cuisine traditionnelle, authentique et engagée. Nous nous efforçons de sourcer nos matières premières auprès de nos fermiers locaux.</p>
                            </div>
                        </div>
                    </div>

                    <div class="hov-img">
                        <img src="img/epicerie_fine.jpg"
                            alt="Nos étagères remplis de produits de terroire d'épicerie fine." class="hov-img-bottom img-fluid">
                        <div class="hov-img-top hov-img-slideup">
                            <div class="hov-img-text">
                                <h5>Plus qu'un restaurant</h5>
                                <p>Venez découvrir tous nos produits d'épicerie fine, thé et café en vrac. Torréfaction Noailles.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-7">
                    <div class="row ">
                        <div class="restaurant-history slideanim text-center">
                            <h3 class="section-heading">Restaurant Charlie's Café</h3>
                            <p class="about-history first">Paulo et son équipe vous offrent une généreuse cuisine traditionnelle provençale en plein centre
                                de Saint-Maximin-la-Sainte-Baume. A deux pas de la Basique Sainte-Marie-Madeleine, vous pourrez venir déjeuner
                                dans un cadre sympathique situé au beau milieu de la rue piétonne.
                                <br/> <br/>

                                Le menu, composé d'une poignée de plats, change tous les jours. Nous mettons un point d'honneur à ce que tous nos plats
                                et nos desserts soient faits maison. Vous retrouverez donc une cuisine franche, authentique, de qualité et surtout locale.
                                Nous nous efforçons au maximun d'acheter nos ingrédients auprès de fermiers locaux, cela représente pour nous un gage de fraicheur et de qualité.
                                <br/> <br/>
                            </p>

                            <h3 class="section-heading">L'épicerie fine Charlie's Café</h3>
                            <p class="first">
                                Plus qu'un restaurant, nous proposons aussi, à l'image de notre cuisine, des produits de terroir au sein de notre épicerie
                                fine. Venez découvrir nos délicieux foie-gras, terrines, rillettes et autres succulents mets. Des paniers gourmands vous attendent
                                pour les grandes occasions.
                                <br/> <br/>

                                Nous sommes les seuls revendeurs officiels de la marque Duc de Gascogne (Maison fondée en 1953) à Saint-Maximin-la-Sainte-Baume.
                                <br/> <br/>
                            </p>

                            <h3 class="section-heading">Torréfaction Noailles</h3>
                            <p class="first">
                                Torréfaction Noailles (Depuis 1927) se développe autour d’une certaine philosophie d’art de vivre; préservant la qualité de leur café et
                                les services d’une tradition toujours vivante aujourd’hui.<br/>
                                Les mêmes recettes de fabrication traditionnelle chères à nos aïeux ont fait de génération en génération la réputation de
                                cette marque qui, de nos jours, n’est plus à démontrer !
                                Torréfaction Noailles a su conserver et préserver son authenticité au fil du temps, découvrez chez nous des produits naturels fabriqués comme autrefois.
                                <br/><br/>
                                Acheter votre café et votre thé en vrac chez nous c'est s'assurer l'achat de produits de qualité, fabriqués artisanalement selon des recettes traditionnelles.
                                <br/> <br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-staff" id="staff">
        <div class="container-fluid">
            <h3 class="h3-titles">Notre équipe</h3>
            <hr class="hr-h3s">
            <div class="row text-center slideanim thumbnail-row">
                <div class="col-sm-3">
                    <div class="staff">
                        <img src="img/portraits_01_resize_cropped.jpg"
                            class="" alt="chef-img" style="width:170px; height: 170px">
                        <h5 class="">Paul Baudry</h5>
                        <h6>Chef cuisinier</h6>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staff">
                        <img src="img/portraits_01_resize_cropped.jpg" class=""
                            alt="chef-img" style="width:170px; height: 170px">
                        <h5 class="">Marine Martin</h5>
                        <h6>Second</h6>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staff">
                        <img src="img/portraits_01_resize_cropped.jpg" class=""
                            alt="chef-img" style="width:170px; height: 170px">
                        <h5 class="">Lucas Dubois</h5>
                        <h6>Serveur</h6>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staff">
                        <img src="img/portraits_01_resize_cropped.jpg" class=""
                            alt="chef-img" style="width:170px; height: 170px">
                        <h5 class="">Olivier Durand</h5>
                        <h6>Sômmelier</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery" class="bg-gallery no-padding">
        <div class="container-fluid">
            <h3 class="h3-titles">Nos photos</h3>
            <hr class="hr-h3s">
            <div class="row no-gutter gallery slideanim">

                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/charlies_cafe_saintmaximin/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/insta_01_resize.jpg" class="img-fluid
                        " alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/charlies_cafe_saintmaximin/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/insta_02_resize.jpg"
                            class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/charlies_cafe_saintmaximin/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/insta_03_resize.jpg"
                            class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/charlies_cafe_saintmaximin/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/insta_04_resize.jpg"
                            class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/charlies_cafe_saintmaximin/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/insta_05_resize.jpg"
                            class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/charlies_cafe_saintmaximin/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/insta_06_resize.jpg"
                            class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            <div class="row more-img">

                <div class="to-gallery">
                    <h4>Pour plus de photos, rendez-vous sur nos réseaux sociaux</h4>
                    <div class="social-networks">
                        <a href="https://www.instagram.com/charlies_cafe_saintmaximin/" target="_blank" class="instagram"><i
                                class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/charlies.cafe.saint.maximin/" target="_blank" class="facebook"><i
                                class="fa fa-facebook"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="bg-testimonials" id="testimonials">
        <div class="container-fluid">
            <h3 class="h3-titles">Ce que nos clients disent de nous</h3>
            <hr class="hr-h3s">
            <div class="row slideanim">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ul>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <h4>Fait en famille. Un service souriant, agréable...<br/>
                                Des assiettes équilibrées, produits frais, assaisonnement raisonné. Prix très cohérent. Et desserts maison délicieux !!<br/>
                                Je recommande.</h4>
                            <a href="https://www.google.com/maps/place/Charlie's+Caf%C3%A9/@43.4524706,5.8655208,14.74z/data=!4m7!3m6!1s0x0:0xcd4b93d9d08f46b3!8m2!3d43.4529433!4d5.8618202!9m1!1b1" target="_blank"><h5>Sandra Amaru</h5></a>
                        </div>

                        <div class="carousel-item">
                            <h4>Une très belle surprise ce petit restaurant.<br/>
                                Avec la terrasse pleine ils m'ont sorti une table tout de suite. Plat délicieux et bien équilibré, personnel souriant et très agréable.<br/>
                                Merci beaucoup</h4>
                            <a href="https://www.google.com/maps/place/Charlie's+Caf%C3%A9/@43.4524706,5.8655208,14.74z/data=!4m7!3m6!1s0x0:0xcd4b93d9d08f46b3!8m2!3d43.4529433!4d5.8618202!9m1!1b1" target="_blank"><h5>Andrei Papp</h5></a>
                        </div>

                        <div class="carousel-item">
                            <h4>J'ai 47 ans. Aujourd'hui j'ai mangé la meilleure daube de sanglier et le meilleur gratin dauphinois de ma VIE.<br/>
                                Bravo    à ce cuisinier, créateur d'émotion.<br/>
                                Merci.</h4>
                                <a href="https://www.google.com/maps/place/Charlie's+Caf%C3%A9/@43.4524706,5.8655208,14.74z/data=!4m7!3m6!1s0x0:0xcd4b93d9d08f46b3!8m2!3d43.4529433!4d5.8618202!9m1!1b1" target="_blank"><h5>Yann D</h5></a>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-contact bg-section" id="contact">
        <div class="container-fluid">
            <h3 class="h3-titles">Nous contacter</h3>
            <hr class="hr-h3s">
            <div class="row slideanim">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="left-box">
                        <address class="contact">
                            <span class="span-contact">Téléphone:</span>
                            <br>
                            +33 (0)4 89 21 82 72
                            <br>
                            <span class="span-contact">Email:</span>
                            <br>
                            <a class="email-style" href="mailto:charliescafe.stmax@gmail.com">charliescafe.stmax@gmail.com</a>
                            <br>
                            <span class="span-contact">Adresse:</span>
                            <br>
                            <a href="https://www.google.fr/maps/place/Charlie's+Caf%C3%A9/@43.4529513,5.8596295,17z/data=!3m1!4b1!4m5!3m4!1s0x12c971ff95cbbc8b:0xcd4b93d9d08f46b3!8m2!3d43.4529433!4d5.8618202" target="_blank">
                            22 rue du Général de Gaulle
                            <br>
                            83470 Saint-Maximin-la-Sainte-Baume
                            <br>
                            France</a>
                        </address>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>

    <footer class="-bg-footer" id="footer">
        <div class="container-fluid">
            <div class="row footer-align">
                <div class="col-md-4 col-sm-4">
                    <h5>Saint-Maximin-la-Sainte-Baume</h5>
                    <hr class="hr-foot">
                    <div class="footer-items">
                        <p class="footer">
                            Troisième berceau de la chrétienté au coeur de la Provence Verte, "St-Max" vous surprendra à pleins d'égards.
                            Venez faire une pause dans votre visite à l'ombre de nos parasols au coeur de la rue piétonne principale et vibrante.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h5>Contact</h5>
                    <hr class="hr-foot">
                    <div class="footer-items">
                        <address>
                            <a href="https://www.google.fr/maps/place/Charlie's+Caf%C3%A9/@43.4529513,5.8596295,17z/data=!3m1!4b1!4m5!3m4!1s0x12c971ff95cbbc8b:0xcd4b93d9d08f46b3!8m2!3d43.4529433!4d5.8618202" target="_blank">
                            22 rue du Général De Gaulle
                            <br/>
                            83470 Saint-Maximin-la-Sainte-Baume
                            <br/>
                            France</a>
                            <br/><br/>
                            <i class="fa fa-phone address"></i> +33 (0)4 89 21 82 72
                            <br>
                            <i class="fa fa-envelope address"></i> <a
                                href="mailto:charliescafe.stmax@gmail.com">charliescafe.stmax@gmail.com</a>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h5>Horaires</h5>
                    <hr class="hr-foot">
                    <div class="footer-items">
                        <ul>
                            <li>Mardi-Samedi: 08:00-17:00</li>
                            <li>Dimanche : 09:00-15:00</li>
                        </ul>
                        Suivez nous sur les réseaux:
                        <ul class="social-networks">
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <a class="to-top" href="#myPage" title="toTop">
            <i class="fa fa-chevron-up align-middle"></i>
        </a>
    </footer>

    <div class="footer-copyright">
        <p>&copy 2021 Copyright <a href="http://jrmdigital.fr/"> JRM DIGITAL</a></p>
    </div>

    <script src="main.js"></script>

</body>

</html>